<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="keywords" content="Oxford, Cambridge, University, DPhil, PhD, Politics, St Edumnd Hall, MPhil, Political Theory, 
    International Law, Carl Schmitt, Climate Katechon">
  <meta name="description" content="I am a candidate for the DPhil in Politics at the University of Oxford under the supervision of Prof Daniel McDermott. 
    I am also a Research Associate at the Cambridge Initiative for Peace Settlements at the University of Cambridge.">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/hyde.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'public/css/apple-touch-icon.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ 'public/css/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">
</head>
