<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
        <hr class="solid">
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item text-colour-change" href="https://jeffrey-t-liu.github.io">About</a>
      <a class="sidebar-nav-item" href="https://www.politics.ox.ac.uk">DPIR</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/jeffrey-l-966777106/">LinkedIn</a>
    </nav>
    <div class="sidebar-about">
      <h1>
        <br>
        research
        <hr class="solid">
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io/climate_katechon">Climate Katechon: A Reconceptualisation of Carl Schmitt in Climate Politics
</a>
    </br>
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io/racial_profiling">What's wrong with racial profiling?</a>
    </nav>
  </div>
</div>
