<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
        <hr class="solid">
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io">About</a>
      <a class="sidebar-nav-item" href="https://www.politics.ox.ac.uk/person/jeffrey-liu">DPIR</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/jeffrey-t-liu/">LinkedIn</a>
    </nav>
    <div class="sidebar-about">
      <h1>
        <br>
        research
        <hr class="solid">
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io/climate_katechon">Climate Katechon: A Reconceptualisation of Carl Schmitt in Climate Politics
      </a>
      </br>
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io/racial_profiling">Single Variable Profiling and Racial Profiling</a>
    </nav>
    <div class="sidebar-about">
      <h1>
        <br>
        seminar
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://jeffrey-t-liu.github.io/carl_schmitt_seminar">Political Thought of Carl Schmitt
      </a>
    </nav>
  </div>
</div>
