<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://jeffrey-t-liu.github.io">
          {{ site.title }}
        </a>
        <hr class="solid">
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{https://jeffrey-t-liu.github.io/about.html/ | absolute_url }}">About</a>
      <a class="sidebar-nav-item" href="https://www.politics.ox.ac.uk">DPIR</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/pandora-dominiak-a51663b1/">CV</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/pandora-dominiak-a51663b1/">LinkedIn</a>
    </nav>
    <div class="sidebar-about">
      <h1>
        <br>
        <a href="https://jeffrey-t-liu.github.io">research
        </a>
        <hr class="solid">
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{https://jeffrey-t-liu.github.io/racial_profiling.html/ | absolute_url }}">Climate Katechon</a>
      <a class="sidebar-nav-item" href="{{https://jeffrey-t-liu.github.io/climate_katechon.html/ | absolute_url }}">Climate Katechon</a>
    </nav>
  </div>
</div>
