<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://pandoradominiak.github.io">
          {{ site.title }}
        </a>
        <hr class="solid">
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{https://pandoradominiak.github.io/about.html/ | absolute_url }}">About</a>
      <a class="sidebar-nav-item" href="https://orcid.org/0009-0002-6380-3428/">ORCiD</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/pandora-dominiak-a51663b1/">CV</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/pandora-dominiak-a51663b1/">LinkedIn</a>
    </nav>
    <div class="sidebar-about">
      <h1>
        <br>
        <a href="https://pandoradominiak.github.io">astrophysics
        </a>
        <hr class="solid">
      </h1>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{https://pandoradominiak.github.io/background.html/ | absolute_url }}">Background</a>
      <a class="sidebar-nav-item" href="{{https://pandoradominiak.github.io/methodology.html/ | absolute_url }}">Methodology</a>
    </nav>
  </div>
</div>
